.input-style {
    width: auto;
    border: none;
    background-color: transparent;
}
.input-style:focus{
    outline: none;
}
.input-style::placeholder{
    margin-left: 40%;
}
.line {
    width: 0;
    height: 2px;
    background-color: var(--blue);
    transition: width 0.5s ease;
    position: absolute;
    bottom: 0
}
.line.expanded {
    width: 100%;
}
.login-btn {
    background-color: var(--orange);
    color: var(--blue);
}
.login-btn:hover{
    background-color: var(--blue);
    color: var(--orange);
}
.form-container {
    width: 50%;
}
@media screen and (min-width: 1024px) { /* large screen or lg */
    .form-container {
        width: 60%;
    }
    .w-60\%{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .tunza-font {
        font-size: 2em;
    }
}
@media screen and (max-width: 1023px) {
    .w-60\%{
        width: 100%;
    }
    .tunza-font {
        font-size: 2em;
    }
}
@media screen and (max-width: 568px) {
    .form-container {
        width: 100%;
        margin-right: 10%;
    }
    .tunza-font {
        font-size: 1.4em;
    }
}
