.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 200px; */
    height: 100vh;
    background-color: var(--white);
    padding: 5px;
  }

  .navbar-logo {
    margin-bottom: 3em;
    height: 3em;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.4em 0 0.5em;
    gap: 20px;
    height: 3em;
  }
  
  .navbar-bottom {
    margin-top: auto;
  }

  .navbar h1 {
    color: var(--blue);
  }

  .navbar-section:hover {
    background-color: var(--orange);
    border-radius: 1rem;
  }
  